/* main.css */

/* Fonts */

body {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: auto;
  font-weight: 600;
  font-style: normal;
}

h2, h3{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

/* Background */
body {
  background-color: #dbeef1;
}

/* Rounded corners for images */
/* 
img {
  border-radius: 10px;
}
*/
